.home {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    padding-top: 10vh;
}

.list-groups {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
}