.home {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    min-width:100vw;
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #6A7586 0%, #30404F 100%);
}
.hometitle {
    padding-top: 70px;
}
h1 {
    text-align: center;
    text-shadow: 10px 10px 50px rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
h2 {
    text-align: center;
    text-shadow: 3px 0px 10px rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.title {
    font-weight: 900;
    font-size: 70px;
    padding-top: 20px;
    color:white;
}

.subtitle {
    font-weight: 900;
    font-size: 30px;
    padding-top:0;
    padding-bottom: 20px;
    color:white;
}
.content {
    overflow:hidden;
    display: flex;
    flex-direction: row;
}
.chooseworkout {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    max-width: 50vw ;
}
.trackcalendar {
    display:flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    color: white;
}
.calendarPreview {
    transform-origin: center top;
    transform: scale(0.75);
}
.list-groups {
    display: flex;
    justify-content: center;
    align-items: center;
}


.no-select {
    user-select: none;
}