.react-calendar__month-view__days__day--neighboringMonth {
    display: none;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }

  .react-calendar__tile--now {
    background: rgb(36, 57, 194);
  }
  .react-calendar .highlight{
    background: url('../assets/fireImg.svg') no-repeat center bottom;  
    background-size: contain;  
    font-weight: bold;
    color: #000000;
} 
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #737a85;
}
.react-calendar {
    color: white;
    width: 350px;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem rgb(0, 0, 0));
    background:linear-gradient(135deg, #6A7586 0%, #445b70 100%);
    border: none;

}
.react-calendar button {
    color:white;
}

  .react-calendar__month-view__days__day--weekend {
    color: #000000;
  }