/* Navbar.css */
.nav {
    background: linear-gradient(90deg, #323E47 0%, #212F3C 100%);
    display: flex;
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.nav * {
    margin: 8px;
}

.logo {
    font-size: 20px;
    padding-left:10px;
    width:flex;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.login {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login a {
    text-align:center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.login a:hover {
    color: #FF6600;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: white;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-links li {
    text-align: center;
    flex: 1 1 auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    color: #FF6600; /* Orange */
}

.button {
    font-size: 6px;
}
