.myTable .table.table.table-striped-columns{
    background-color:#6A7586 ;
    --bs-table-bg: transparent;
}

.table.table.table-striped-columns {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem rgb(0, 0, 0));
    table-layout: fixed;
}

.workoutName {
    font-size:25px;
    font-weight:bold;
}

.editDay{
    background-color:#6A7586 ;
}

.table.table.custom{
    --bs-table-bg:transparent;
}

.exerciseInput{
    outline-width:0;
    margin-right:10px;
}

.exerciseList{
    display:flex;
    margin-bottom:4px;
}

.formButtons{
    display:flex;
    justify-content:space-between;
}

.formControl{
    background:#6A7586;
    color:black;
    font-size:14px;
    padding-top:0;
}

