/* .table-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right:10vh;
}
table tbody tr td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
table thead th {
    border-width: 1px;
    border-style: solid;
    border-color: black;    
    font-size: 20px;
    text-align: center;
}
   */