.myTable .table.table.table-striped-columns{
    background-color:#6A7586 ;
    --bs-table-bg: transparent;
}

.table.table.table-striped-columns {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem rgb(0, 0, 0));
    table-layout: fixed;
}

.myTable .workoutName {
    display:flex;
    flex-shrink:0;
    justify-content:space-around;
    font-size:25px;
    font-weight:bold;
}
.modal-dialog .modal-content {
    background-color: #8894b0;
}

.myTable .titleRow{
    justify-content:center;
}

.editDay{
    background-color:#6A7586 ;
}

.table.table.custom{
    --bs-table-bg:transparent;
}

.exerciseInput{
    outline-width:0;
    margin-right:10px;
}

.exerciseList{
    display:flex;
    margin-bottom:4px;
}

.formButtons{
    display:flex;
    justify-content:space-between;
}

.formControl{
    background:#6A7586;
    color:black;
    font-size:14px;
    padding-top:0;
}

